
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Open Sans", Arial, sans-serif;
}
img {
    max-width: 100%;
}

/*Top_wrapper*/

.top_wrapper {
    min-height: 600px;
    background: url("../images/slide_03.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    max-width: 1170px;
    margin: auto;
    padding-top: 20px;
    position: relative;
    color: #fff;
}

.logo {
	width: 50%;
    float: left;
    position: relative;
    z-index: 1;
}

.menu {
	float: right;
    position: relative;
    z-index: 1;
}

.menu ul li {
	display: inline-block;
	margin-left: 30px;
	text-transform: uppercase;
}

.menu ul li a {
	font-size: 12px;
	text-decoration: none;
	color: #fff;
}

.menu ul li a:hover {
	text-decoration: underline;
}

.main_block {
    width: 500px;
    margin: auto;
    text-align: center;
    margin-top: 150px;
}

.main_block p {
	margin-bottom: 0;
	font-size: 12px;
	text-transform: uppercase;
}

.main_block h1 {
	margin-top: 0;
	text-transform: uppercase;	
}

.main_block span {
	font-size: 14px;
}

/*.main_block*/ button {
    width: 110px;
    height: 35px;
    border-radius: 50px;
    border: none;
    font-size: 10px;
    text-transform: uppercase;
	color: #fff;
    background-color: rgb(162, 207, 142);
    display: block;
    margin: auto;
    margin-top: 20px;
}

/*.main_block*/ button:hover {
    background-color: #b1d2a3;
    cursor: pointer;
}

/*.main_block*/ button a {
    color: #fff;
    text-decoration: none;  
}

/*Preference*/

section {
    max-width: 1170px;
    margin: auto;
}

.preference {
    /*min-height: 450px;*/
    text-align: center;
    background-color: rgb(244, 244, 244);
    padding-top: 100px;
}

.preference h3 {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

.preference hr {
    width: 70px;
    height: 3px;
    background-color: #000;
    border: none;
}

.preference-wrap {
    margin-top: 30px;
    margin-left: -15px;
}

.preference-wrap::after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.preference-item-wrap {
    width: 25%;
    float: left;
    padding: 10px; 
}

.preference-item {
    margin: 5px;
    margin-bottom: 70px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
    padding: 20px 12px 30px 12px;
}

.preference-item p {
    font-weight: bold;
    margin-bottom: 10px;
}

.preference-item span {
    font-size: 12px;
    color: #716d6d;
}

/*.clearfix {
    clear: both;
}*/

/*offer*/

.offer {
    /*min-height: 450px;*/
    background: url("../images/what-we-do-bg.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.info {
    width: 50%;
    color: #fff;
    float: left; 
    padding: 70px 20px 20px 0;  
}

.info h3 {
    margin-bottom: 30px;
}

.info p {
    font-size: 12px;
    margin-bottom: 30px;
}

.graphic {
    float: left;
    width: 50%;
    padding: 70px 0 50px 20px;
}

section::after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.info button {
    display: inline-block;
    margin-right: 15px;
}

.white-button {
    background-color: #fff;
}

.white-button a {
    color: #000;
}